name: CD - Push to ECR

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Push image to ECR
    runs-on: ubuntu-latest

    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Get AWS Account ID
        run: |
          echo "AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)" >> $GITHUB_ENV

      - name: Build, tag, and push image
        run: |
          ECR_REGISTRY=${AWS_ACCOUNT_ID}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com
          IMAGE_TAG=${GITHUB_SHA::7}

          docker build -t ${{ vars.ECR_REPO }}:$IMAGE_TAG .
          docker tag ${{ vars.ECR_REPO }}:$IMAGE_TAG \
            $ECR_REGISTRY/${{ vars.ECR_REPO }}:$IMAGE_TAG

          docker push \
            $ECR_REGISTRY/${{ vars.ECR_REPO }}:$IMAGE_TAG
